
  
<div *ngIf="authService.user | async">
  <h1> Welcome {{(authService.user | async)?.displayName}} !!</h1>
</div>
   
<h3>Add Todo</h3>
<!--<mat-form-field class="example-full-width">
  <input  [(ngModel)] = "todo" 
            name = "todo" 
            matInput placeholder="add a new todo" >

</mat-form-field>-->
<button mat-raised-button color="primary" (click) = "addtodo()">
 add todo
</button>